html,body{
    font-family: 'Poppins', sans-serif;
    margin: 0
}

form{
    display: flex;
    flex-direction: column;
}

.login-fundo{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(243, 243, 243);
    
}

.login-maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);;
    border-radius: 15px;
    border: 1px solid rgb(165, 165, 165);
}

.login-p{
    color: #626262;
    font-family: 'Poppins';
    font-size: 15px;
}

.login-input{
    border: 1px solid #c2c2c2;
    padding: 6px 8px;
    border-radius: 6px;
    width: 335px;
    background-color: #f7f7f7;
    height: 30px;
}

.login-input:focus{
    outline-color: #0070E0;
}

.login-botao-entrar{
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    border-radius: 10px;
    height: 50px;
    padding: 8px;
    background-color: #0080ff;
    color: #fff;
    margin-top: 35px;
    font-size: 15px;
}

.login-botao-entrar:hover{
    background-color: #0058af;
    color: white;
    transition: 0.5s;
}

.login-tela-login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 30px;
}

.login-tela-login-usuario{
    margin-bottom: 20px;
}

.login-logo{
    margin-bottom: 55px;
}

.login-logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.login-logo img{
    display: inline-block;
}
